## Numerous always-ignore items
*.bak
*.diff
*.err
*.log
*.swp
*.vi
*~
*.sass-cache
*.sublime-workspace
.DS_Store
.cache
.idea
.project
.settings
.tmproj
Thumbs.db
desktop.ini
nbproject

## Folders to ignore
/.data
/demos
/my_resources
/vendor

## Files to ignore
.env
