html {
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
    color: #666;
    font: normal 18px/1.3 Georgia, "New York CE", utopia, serif;
    overflow-y: scroll;
}

body {
    background: #3ccbce;
    color: #333;
    max-width: 600px;
    min-width: 320px;
    margin: 2em auto;
    padding: 0 0.5em;
}

a {
    color: #13d3e6;
    padding: 3px 1px;
}
a:hover,
a:active,
a:focus {
    background-color: #13d3e6;
    color: white;
    text-decoration: none;
}

#banner {
    background: #125f61 linear-gradient(to bottom, #104e50 0%, #199499 100%);
    border-radius: 12px 12px 0 0;
}

    #banner h1 {
        background: url('/assets/logo.png') no-repeat 95%;
        background-size: 130px auto; text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.9);
        color: white;
        font: inherit;
        font-size: 50px;
        line-height: 121px;
        margin: 0;
        padding-left: 4%;
    }
    @media (max-width: 600px) {
        #banner h1 {
            background: none;
            font-size: 40px;
        }
    }

#content {
    background: white;
    border: 1px solid #eff4f7;
    border-radius: 0 0 12px 12px;
    overflow: hidden;
    padding: 10px 4%;
}

    .flexo {
        display: flex;
        justify-content: space-between;
    }
