{layout '../@layout-site.latte'}

{block content}
  <div id="banner">
    <h1 n:block=title>Congratulations!</h1>
  </div>

  <div id="content">
    <h2>You have successfully created your <strong>Nette Web project</strong>.</h2>
    <p>Go to <a n:href="Person:">persons list</a>.</p>
  </div>
