includes:
  - parameters.neon
  - parameters.php

  # extensions
  - extensions/application.neon
  - extensions/console.neon
  - extensions/decorator.neon
  - extensions/session.neon

  # services
  - services/router.neon
